@import url('./variable.css');
@import url('./input.css');
@import url('./button.css');
@import url('./table.css');
@import url('./icons.css');

/* tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex', sans-serif;
    background-color: var(--body);
}

/* DForm styling */
._df_ErrMsg {
	@apply text-red-500 text-xs md:text-sm;
}

.content {
    height: 100svh;
    margin-top: 5.2rem;
    background-color: var(--body);
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.content::-webkit-scrollbar-thumb {
	width: 5px;
    border-radius: 5px;
	background-color: var(--light-scroll);
}

.content::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}

.box {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--box-body);
}

.light-scrollbar::-webkit-scrollbar-thumb {
	width: 8px;
	background-color: var(--light-scroll);
}

.light-scrollbar::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}