@import url('./variable.css');
@import url('./input.css');
@import url('./button.css');
@import url('./table.css');
@import url('./icons.css');

/* tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

/* DForm styling */
._df_ErrMsg {
	@apply text-red-500 text-xs md:text-sm;
}

.content {
    height: 100vh;
    /* margin-top: 4.2rem; */
    background-color: var(--content-bg);
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.content::-webkit-scrollbar-thumb {
	width: 0px;
	background-color: var(--body);
}

.content::-webkit-scrollbar {
	width: 0px;
	background-color: var(--body);
}

.box {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 0px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--body);
}

.light-scrollbar::-webkit-scrollbar-thumb {
	width: 8px;
	background-color: #c8c8c8;
}

.light-scrollbar::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}