@import url('./variable.css');
@import url('./input.css');
@import url('./button.css');
@import url('./table.css');
@import url('./icons.css');

/* tailwind base */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Flex', sans-serif;
}

/* DForm styling */
._df_ErrMsg {
	@apply text-red-500 text-xs md:text-sm;
}

.content {
    height: 100vh;
    margin-top: 4.2rem;
    background-color: var(--body);
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
}

.box {
    padding: 20px;
    background-color: #fff;
}

.light-scrollbar::-webkit-scrollbar-thumb {
	width: 8px;
	background-color: #c8c8c8;
}

.light-scrollbar::-webkit-scrollbar {
	width: 8px;
	background-color: transparent;
}